In [1]:
import pandas as pd

In [2]:
data = {'name' : ['Mark', 'Jane', 'Chris', 'Ryan'],
        'age': [33, 32, 44, 42],
        'score' : [91.3, 83.4, 77.5, 87.7]}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

    name  age  score
0   Mark   33   91.3
1   Jane   32   83.4
2  Chris   44   77.5
3   Ryan   42   87.7

In [5]:
df.sum()

name     MarkJaneChrisRyan
age                    151
score                339.9
dtype: object

In [6]:
df.mean()

C:\Users\atc98\AppData\Local\Temp\ipykernel_8948\3698961737.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

age      37.750
score    84.975
dtype: float64